server:
  port: 9002
spring:
  application:
    name: hbut-user #指定服务名
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://101.200.182.241:3306/community?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: root
  jpa:
    database: mysql
    show-sql: true
  redis:
    host: 101.200.182.241
  #rabbitmq:
  #  host: 101.200.182.241
  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 2MB
eureka:
  client:
    service-url:
      defaultZone: http://101.200.182.241:6868/eureka
  instance:
    prefer-ip-address: true